.transaction-update{
    position: relative;
    width: 25rem;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px grey;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.transaction-update h2{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.transaction-update-row{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-top: 0.2rem;
}

.transaction-update-col{
    width: 45%;
}

.concept-container {
    width: 100%;
    box-sizing: border-box;
}

.concept-container input{
    width: 100%;
    margin-top: 0.2rem;
}

.input-number, .input-date{
    width: 100%;
    margin-top: 0.2rem;
}

.transaction-update-col select{
    width: 100%;
    margin-top: 0.2rem;
}

.transaction-update label{
    font-size: 1rem;
    color: var(--primary-strong);
    font-weight: 600;
    margin-top: 1rem;
}

.transaction-update input, select{
    font-size: 1rem;
    padding: 2px;
    border: 1px solid var(--primary-strong);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.transaction-update input:focus, select:focus{
    border-color: black;
}

.save-btn{
    background-color: var(--primary-color);
    border-radius: 2px;
    border: none;
    color: white;
    padding: 5px;
    width: 6rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-left: calc(50% - 3rem);
    margin-right: calc(50% - 3rem);
}

.save-btn:hover{
    background-color: var(--primary-strong);
    font-weight: 500;
}

.close-btn{
    position: absolute;
    top:2px;
    right: 2px;
    padding: 0.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;  
}

.close-btn:hover .close-icon{
    fill: #b60000;
}

.close-icon{
    width: 1.2rem; 
    height: 1.2rem;
}

